<!DOCTYPE html>
<html lang="en">
<head>
	<!--favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
  
	  <meta charset="UTF-8">
	  <title>WebDocX</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/consultation.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	  <script type="text/javascript" src="/scripts/consultation.js"></script>
	  <script type="text/javascript" src="/scripts/nav.js"></script>
      <script type="text/javascript" src="/scripts/speechrecog.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <!--<%= JSON.stringify(currentAccount) %>-->
	<!--Alert messages and notification-->
	<div class="notification card" style="display:none;" id="notification">
		<% if (errorMessage && errorMessage.length > 0) { %>
		  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#f8d7da';document.getElementById('notification').style.backgroundImage='none';</script>
		  <span style="color:#721c24;">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b><%= errorMessage %></b>
		  </span><br>
		<% } %>
	
		<% if (successMessage && successMessage.length > 0){ %>
		  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#d4edda';document.getElementById('notification').style.backgroundImage='none';</script>
		  <span style="color:#155724;">
			<i class="fa fa-check" aria-hidden="true"></i><b><%= successMessage %></b>
		  </span><br>
		<% } %>
		<span onclick="document.getElementById('notification').style.display='none'" class="close" title="Close Modal">&times;</span>
	  </div>

	  
	  <% if (typeof currentAccount.profilePic.data.data !== 'undefined') {
		var image = Buffer.from(currentAccount.profilePic.data.data).toString('base64');
		var type = currentAccount.profilePic.contentType;
    }%>
    <!--Separate Top Nav for Doctors and Patients-->
    <%if(currentAccount.category=="doctors"){%>
	<div class="topnav">
		<button id="dash" ><i class="fa fa-home" aria-hidden="true"></i></button>
		<button id="update" ><i class="fa fa-user" aria-hidden="true"></i></button>
		<button id="not" onclick="notdrop()" type="button" style="position:relative;"><i class="fa fa-bell-o" aria-hidden="true"></i><span id="count" class="counter"><%= currentAccount.notifications.length%></span></button>
		<span id="lg" style="clear:both; position:absolute;top:15px;left:40%;">
			<img src="/images/notext.png" alt="Webdocx" width="50px" height="20px">
			<img id="textlogo" src="/images/text.png" alt="Webdocx" width="150px" height="20px">
			</span>
			<button id="logdrop" onclick="logdrop()" style="float:right;"><img id="prof" class="avatar" style="width:40px;height:40px;" src="data:<%= type %>;base64,<%= image %>" /></button>
		<script type="text/javascript">
			document.getElementById("dash").onclick = function () {
				location.href = "/dashboardDoc";
			};
			document.getElementById("update").onclick = function () {
				location.href = "/update";
			};
		</script>
		<button type="button" style="float:right;width:50px;" onclick="runSpeechRecognition()"><i id="mic" class="fa fa-microphone"></i></button>
		<form action="#"style="float:right;">
			<input type="text" placeholder="Search.." id="search" name="search">
			<button type="submit" style="width:50px;"><i class="fa fa-search"></i></button>
		</form>
	</div>

	<!--Logout menu-->
	<span id="log" class="dropdiv" style="left:87%;overflow:scroll; height:200px;">
		<button onclick="location.href='/update'" id="" ><i class="fa fa-user" aria-hidden="true"></i> Profile</button>
		<button id="messages" ><i class="fa fa-comments" aria-hidden="true"></i> Messages</button>
		<button id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
	</span>
	<script>
	document.getElementById("logout").onclick = function () {
		location.href = "/logout";
	};
	document.getElementById("messages").onclick = function () {
		location.href = "/consultation";
	};
	</script>
	
	<!--user notification-->
	<div style="left:160px;width:400px; padding:10px;overflow:scroll; max-height:400px;" id="unotification" class="dropdiv">
		<b style="margin:20px;">Notifications</b>
		<% var co=0; for(var i=currentAccount.notifications.length-1;i>=0;i--){if(!currentAccount.notifications[i].seen){ co++;%>
			<div onclick="sub('<%= currentAccount.notifications[i]._id%>','<%=i%>')" class="unotification" id="n<%=i%>">
				<span style="font-weight: bold;" id="urm<%=i%>"><%= currentAccount.notifications[i].message%></span>
				<script>
					function sub(n_id,nid){
						var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
						  if (this.readyState == 4 && this.status == 200) {
							var cc=parseInt(document.getElementById('count').innerHTML)-1;
							document.getElementById('count').innerHTML=cc;
							document.getElementById('urm'+nid).style.fontWeight='normal';
						  }
						};
						  xhttp.open("POST", "/dashboardDoc/read/"+n_id, true);
						  xhttp.send();
						  }
				</script>
				<%} else{%>
					<div class="unotification" id="n<%=i%>">
					<%= currentAccount.notifications[i].message%>
				<%}%>
			
			<% 
					var tdat= new Date().getDate();
					var tday= new Date().getDay();
					var ty= new Date().getFullYear();
					var tm= new Date().getMonth();
					var th= new Date().getHours();
					var tmin= new Date().getMinutes();
					var tsec= new Date().getSeconds();
					var dat= currentAccount.notifications[i].time.getDate();
					var day= currentAccount.notifications[i].time.getDay();
					var y= currentAccount.notifications[i].time.getFullYear();
					var m= currentAccount.notifications[i].time.getMonth();
					var h= currentAccount.notifications[i].time.getHours();
					var min= currentAccount.notifications[i].time.getMinutes();
					var sec= currentAccount.notifications[i].time.getSeconds();
					if(ty!=y)
					{
						ty=ty+0;
						y=y+0;
						var p= ty-y;
						p=p.toString();
						p=p+"y";
					}
					else if(tm!=m)
					{
						tm=tm+0;
						m=m+0;
						var p= tm-m;
						p=p.toString();
						p=p+"month";
					}
					else if(tdat!=dat)
					{
						tdat=tdat+0;
						dat=dat+0;
						var p= tdat-dat;
						p=p.toString();
						p=p+"d";
					}
					else if(th!=h)
					{
						th=th+0;
						h=h+0;
						var p= th-h;
						p=p.toString();
						p=p+"h";
					}
					else if(tmin!=min)
					{
						tmin=tmin+0;
						min=min+0;
						var p= tmin-min;
						p=p.toString();
						p=p+"min";
					}
					else if(tsec!=sec)
					{
						tsec=tsec+0;
						sec=sec+0;
						var p= tsec-sec;
						p=p.toString();
						p=p+"sec";
					}
					%>
					<br>
				<span style="float:left;color:grey"><%= p %> ago</span>
				<% if(currentAccount.notifications[i].type==3){%>
					<span onclick="location.href='<%= currentAccount.notifications[i].url%>'" style="color:grey;position:absolute;top:40%;left:95%;font-size: medium;"><i class="fa fa-external-link" aria-hidden="true"></i></span>
					<span style="float:right;color:grey"><i class="fa fa-user" aria-hidden="true"></i></span>
				<% }%>
		</div>

		<script>document.getElementById('count').innerHTML="<%=co%>"</script><% } %>
    </div>
    </div>
     <!--Separate Top Nav for Doctors and Patients-->
     <%} else{%>
        <div class="topnav">
            <button id="dash"><i class="fa fa-home" aria-hidden="true"></i></button>
            <button id="doc" onclick="docdrop()"><i class="fa fa-user-md" aria-hidden="true"></i> <i class="fa fa-caret-down"></i></button>
            <button id="not" onclick="notdrop()"type="button" style="position:relative;width:70px;"><i class="fa fa-bell-o" aria-hidden="true"></i><span id="count" class="counter"></span></button>
            
            <span id="lg" style="clear:both; position:absolute;top:15px;left:40%;">
            <img src="/images/notext.png" alt="Webdocx" width="50px" height="20px">
            <img id="textlogo" src="/images/text.png" alt="Webdocx" width="150px" height="20px">
            </span>
            <button id="logdrop" onclick="logdrop()" style="float:right;"><img id="prof" class="avatar" style="width:40px;height:40px;" src="data:<%= type %>;base64,<%= image %>" /></button>
            <script type="text/javascript">
                document.getElementById("dash").onclick = function () {
                    location.href = "/dashboardPat";
                };
            </script>
            <button type="button" style="float:right;width:50px;" onclick="runSpeechRecognition()"><i id="mic" class="fa fa-microphone"></i></button>
            <span style="float:right;">
                <input onfocus="searchs()" oninput="searchs()" type="text" placeholder="Search.." id="search" name="search" >
                <button onclick="find()" type="button" style="width:50px;"><i class="fa fa-search"></i></button>
            </span>
        </div>
    
    
        <!--Search option-->
        <div style="left:65%;width:400px;padding:20px;" id="searchdiv" class="dropdiv">
            <span onclick="document.getElementById('searchdiv').style.display='none'" style="position:absolute;right:10px;top:5px;"><i class="fa fa-times" aria-hidden="true"></i></span>
            <div class="radio-toolbar">
                <input type="radio" id="name" name="sopt" value="name" checked>
                <label for="name">NAME</label>
            
                <input type="radio" id="speciality" name="sopt" value="speciality">
                <label for="speciality">SPECIALITY</label>
            
                <input type="radio" id="mail" name="sopt" value="mail">
                <label for="mail">MAIL</label> 
    
                <input type="radio" id="qualifications" name="sopt" value="qualifications">
                <label for="qualifications">QUALIFICATIONS</label>
    
                <input type="radio" id="tags" name="sopt" value="tags">
                <label for="tags">TAG</label>
                
            </div>
    
            <div  class="card" style="margin:20px;border-radius: 10px;padding:20px;">
                <b id="sv" style="word-wrap: break-word;"></b>
            </div>
        </div>
    
    
        <!--Logout menu-->
        <span id="log" class="dropdiv" style="left:87%;overflow:scroll; height:200px;">
            <button id="" ><i class="fa fa-user" aria-hidden="true"></i> Profile</button>
            <button id="messages" ><i class="fa fa-comments" aria-hidden="true"></i> Messages</button>
            <button onclick="location.href='/posts'" id="posts" ><i class="fa fa-th-list" aria-hidden="true"></i> Posts</button>
            <button id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
        </span>
        <script>
        document.getElementById("logout").onclick = function () {
            location.href = "/logout";
        };
        document.getElementById("messages").onclick = function () {
            location.href = "/consultation";
        };
        </script>
        <!--Doctor speciality dropdown-->
        <span id="drop" class="dropdiv" style="overflow:scroll; height:200px;">
            <button onclick="opt('cardiology')" id="cardiology" >Cardiology</button>
            <button onclick="opt('nephrology')" id="nephrology">Nephrology</button>
            <button onclick="opt('urology')" id="urology">Urology</button>
            <button onclick="opt('neurology')" id="neurology">Neurology</button>
            <button onclick="opt('imunnology')" id="immunology">Immunology</button> 
            <button onclick="opt('anesthesiology')" id="anesthesiology">Anesthesiology</button> 
            <button onclick="opt('dermatology')" id="dermatology">Dermatoloy</button> 
            <button onclick="opt('endocrinology')" id="endocrinology">Endocrinology</button> 
            <button onclick="opt('gastroenteroloy')" id="gastroenteroloy">Gastroenteroloy</button> 
            <button onclick="opt('hepatology')" id="hepatology">Hepatology</button> 
            <button onclick="opt('gynecology')" id="gynecology">Gynecology</button> 
            <button onclick="opt('pathology')" id="pathology">Pathology</button> 
            <button onclick="opt('pulmonology')" id="pulmonology">Pulmonology</button> 
            <button onclick="opt('psycology')" id="psychology">Psychology</button> 
            <button onclick="opt('otology')" id="otology">Otology</button>
        </span>
        <!--Viewdocs links-->
        <script>
            function opt(s){
                location.href = "/view/doctors/page/1/?speciality="+s;
            }
        </script>
        <!--user notification-->
        <div style="left:160px;width:400px; padding:10px;overflow:scroll; max-height:400px;" id="unotification" class="dropdiv">
            <b style="margin:20px;">Notifications</b>
            <% var co=0; for(var i=currentAccount.notifications.length-1;i>=0;i--){if(!currentAccount.notifications[i].seen){ co++;%>
                <div onclick="sub('<%= currentAccount.notifications[i]._id%>','<%=i%>')" class="unotification" id="n<%=i%>">
                    <b id="urm<%=i%>"><%= currentAccount.notifications[i].message%></b>
                    <%} else{%>
                        <div class="unotification" id="n<%=i%>">
                        <%= currentAccount.notifications[i].message%>
                    <%}%>
                
                <% 
                        var tdat= new Date().getDate();
                        var tday= new Date().getDay();
                        var ty= new Date().getFullYear();
                        var tm= new Date().getMonth();
                        var th= new Date().getHours();
                        var tmin= new Date().getMinutes();
                        var tsec= new Date().getSeconds();
                        var dat= currentAccount.notifications[i].time.getDate();
                        var day= currentAccount.notifications[i].time.getDay();
                        var y= currentAccount.notifications[i].time.getFullYear();
                        var m= currentAccount.notifications[i].time.getMonth();
                        var h= currentAccount.notifications[i].time.getHours();
                        var min= currentAccount.notifications[i].time.getMinutes();
                        var sec= currentAccount.notifications[i].time.getSeconds();
                        if(ty!=y)
                        {
                            ty=ty+0;
                            y=y+0;
                            var p= ty-y;
                            p=p.toString();
                            p=p+"y";
                        }
                        else if(tm!=m)
                        {
                            tm=tm+0;
                            m=m+0;
                            var p= tm-m;
                            p=p.toString();
                            p=p+"month";
                        }
                        else if(tdat!=dat)
                        {
                            tdat=tdat+0;
                            dat=dat+0;
                            var p= tdat-dat;
                            p=p.toString();
                            p=p+"d";
                        }
                        else if(th!=h)
                        {
                            th=th+0;
                            h=h+0;
                            var p= th-h;
                            p=p.toString();
                            p=p+"h";
                        }
                        else if(tmin!=min)
                        {
                            tmin=tmin+0;
                            min=min+0;
                            var p= tmin-min;
                            p=p.toString();
                            p=p+"min";
                        }
                        else if(tsec!=sec)
                        {
                            tsec=tsec+0;
                            sec=sec+0;
                            var p= tsec-sec;
                            p=p.toString();
                            p=p+"sec";
                        }
                        %>
                        <br>
                    <span style="float:left;color:grey"><%= p %> ago</span>
                    <% if(currentAccount.notifications[i].type==1||currentAccount.notifications[i].type==3){%>
                    <% if(currentAccount.notifications[i].type==1){%>&nbsp;<span style="float:right;color:green"><i class="fa fa-user-md" aria-hidden="true"></i></span><% }%>
                    <span onclick="location.href='<%= currentAccount.notifications[i].url%>'" style="color:grey;position:absolute;top:40%;left:95%;font-size: medium;"><i class="fa fa-external-link" aria-hidden="true"></i></span>
                    <% } else if(currentAccount.notifications[i].type==2){%>
                    <span style="float:right;color:red"><i class="fa fa-user-md" aria-hidden="true"></i></span><% }%>
            </div>
            <script>
                function sub(n_id,nid,u){
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function() {
                      if (this.readyState == 4 && this.status == 200) {
                                var cc=parseInt(document.getElementById('count').innerHTML)-1;
                                document.getElementById('count').innerHTML=cc;
                                document.getElementById('urm'+nid).style.fontWeight='normal';
                      }
                    };
                      xhttp.open("POST", "/dashboardPat/read/"+n_id, true);
                      xhttp.send();
                      }
            </script>
            <script>document.getElementById('count').innerHTML="<%=co%>"</script><% } %>
        </div>
        </div>
        <% } %>
        <div class="col-container" style="color:white;height:100%;">
            <div class="col" style="width:30%;height:100%;background-color:#505557;">
                <div class="card" style="height:70px;width:100%;background-color:#505557;position:sticky;top:50px;">
                    <span style="float:left;background-color: transparent;"><img class="avatar" style="width:50px;height:50px;margin:10px;" src="data:<%= type %>;base64,<%= image %>" /></span>
                    <span style="float:right; margin:20px;font-size:20px;"onclick="req()"><i id="c" class="fa fa-inbox" aria-hidden="true"></i></span>
                </div>
                <script>
                    function req(){
                        /*location.href="/consult/request";*/
                        if(document.getElementById('caccept').style.display=="block")
                        {
                            document.getElementById('caccept').style.display="none";
                            document.getElementById('crequest').style.display="block";
                            document.getElementById('c').className="fa fa-comments";
                        }
                        else
                        {
                            document.getElementById('caccept').style.display="block";
                            document.getElementById('crequest').style.display="none";
                            document.getElementById('c').className="fa fa-inbox";
                        }
                    }
                </script>
                <div style="background-color: #4a4a4a;position:fixed;width:35%;overflow-y:scroll;">
                    <span id="caccept">
                        <% for(var i=0; i < consultations.length;i++){if(consultations[i].isAccepted){%>
                        <div onclick="chat('<%=consultations[i]._id %>','<%=currentAccount.category %>')" style="clear:both;height:70px;width:100%;">
                            <span style="float:left;background-color: transparent;"><img class="avatar" style="width:50px;height:50px;margin:10px;" src="/images/u.png"/></span>
                            <div style="padding:20px;border-style: solid;border-width:0px 0px 1px 0px;border-color:grey;" >
                                <%if(currentAccount.category=="doctors"){%>
                                    <span  style="font-weight:normal;font-size: 20px;"><%=consultations[i].patient.name%></span>
                                <% } else{ %>
                                    <span style="font-weight:normal;font-size: 20px;"><%=consultations[i].doctor.name%></span>
                                <% } %>
                            </div>
                        </div>
                        <% } }  %>
                    </span>
                    <span id="crequest" style="display:none;">
                        <%for(var i=0; i < consultations.length;i++){if(!consultations[i].isAccepted){%>
                        <div onclick="chat('<%=consultations[i]._id %>','<%=currentAccount.category %>')" style="clear:both;height:70px;width:100%;">
                            <span style="float:left;background-color: transparent;"><img class="avatar" style="width:50px;height:50px;margin:10px;" src="/images/u.png"/></span>
                            <div style="padding:20px;border-style: solid;border-width:0px 0px 1px 0px;border-color:grey" >
                                <%if(currentAccount.category=="doctors"){%>
                                    <span style="font-weight:normal;font-size: 20px;"><%=consultations[i].patient.name%></span>
                                <% } else{ %>
                                    <span style="font-weight:normal;font-size: 20px;"><%=consultations[i].doctor.name%></span>
                                <% } %>
                            </div>
                        </div>
                        <% } } %>
                    </span>
                </div>
            </div>
            <div class="col" style="width:60%;height:100%;background-color:#949c9c;margin:0px; padding:0px;position:relative;">
                <div class="card" style="clear:both;height:70px;width:100%;background-color:#505557;position:fixed;top:50px;">
                    <span style="float:left;background-color: transparent;"><img id="chatimage" class="avatar" style="width:50px;height:50px;margin:10px;" src="data:<%= type %>;base64,<%= image %>" /></span>
                    <span id="chatname" style="font-weight:bold;font-size: 20px;position:absolute;top:20px;"></span>
                    <span id="infoicon" onclick="document.getElementById('chatinfo').style.display='block';" style="display:none;font-weight:bold;font-size: 20px;position:absolute;top:30px;left:800px;"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                </div>
                <div id='chatinfo' class="card" style="background-color:#505557;position:absolute;right:0px;top:0px;height:100%;width:300px;z-index:1;display:none;">
                    <div class="card" style="height:70px;width:100%;">
                        <span class="close" onclick="document.getElementById('chatinfo').style.display='none';"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <span style="position: absolute;left: 70px;top: 20px;color: white;font-size: 25px;">Consultation Info</span>
                    </div>
                    <div id="chatdata" style="width:100%;color: white;font-size: 20px;padding:10px;"></div>
                    <div name="chatbutton" style="display:table;">
                        <form name="accform" action="" method="POST"><button type="submit" class='accrej' style='background-color:green;float:left;'>Accept</button></form>
                        <button name="rejform" onclick="" class='accrej' style='background-color:red;'>Reject</button>
                    </div>
                </div>
                <div style="position:fixed;top:120px;width:68%;height:100%;overflow-y:scroll;">
                    <span id="default" style="font-size:80px; position:absolute;top:100px;left:400px;"><i id="c" class="fa fa-inbox" aria-hidden="true"></i><hr><i id="c" class="fa fa-comments" aria-hidden="true"></i></span>
                    <span id="requesticon" style="font-size:80px; position:absolute;top:150px;left:400px;display:none;"><i id="c" class="fa fa-inbox" aria-hidden="true"></i></span>
                    <div name="chatbutton" style="display:none;">
                        <form name="accform" action="" method="POST"><button type="submit" class='accrej' style='background-color:green;float:left;'>Accept</button></form>
                        <button name="rejform" onclick=""  class='accrej' style='background-color:red'>Reject</button>
                    </div>
                    <div id="completechat" style="display:none;">
                        <form id="sendchat" action="" method="POST">
                            <input type="text" placeholder="Enter Your Text Here!">
                            <input id="image" type="radio" value="image" name="type">
                            <label for="image">Image</label>
                            <input id="text" type="radio" value="text" name="type">
                            <label for="text">Text</label>
                            <button type="submit">send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function chat(s,t){
                  var x="/consultation/"+s;
                  $.ajax({url:x}).done(function (data){
                        document.getElementById('default').style.display="none";
                      if(t=="doctors"){
                        document.getElementById('chatname').innerHTML=data.patient.name;
                        if(!(data.isAccepted)){
                            document.getElementsByName('chatbutton')[0].style.display="block";
                            document.getElementsByName('chatbutton')[1].style.display="block";
                            document.getElementById('requesticon').style.display="block";
                            document.getElementsByName('accform')[0].action="/consult/request/accept/"+data._id;
                            document.getElementsByName('accform')[1].action="/consult/request/accept/"+data._id;
                            document.getElementsByName('rejform')[0].onclick=reject(data._id);
                            document.getElementsByName('rejform')[1].onclick=reject(data._id);
                            document.getElementById('completechat').style.display="none";
                        }
                        else{
                            document.getElementsByName('chatbutton')[0].style.display="none";
                            document.getElementsByName('chatbutton')[1].style.display="none";
                            document.getElementById('requesticon').style.display="none";
                            document.getElementById('completechat').style.display="block";
                            document.getElementById('sendchat').action="/consultation/"+data._id+"/new/message";
                        }
                      }
                      else{
                        document.getElementById('chatname').innerHTML=data.doctor.name;
                      }
                      document.getElementById('chatimage').src="/images/u.png";
                      document.getElementById('infoicon').style.display='block';
                      var d="Tags:<br>"+data.problem.tags+"<br><br>Issue:<br>"+data.problem.issue+"<br><br>Symptoms:<br>"+data.symptoms+"<br><br>Description:<br>"+data.description;
                      document.getElementById('chatdata').innerHTML=d;
                  })
                }
                function reject(s){
                }
                
        </script>
</body>
</html>