<!DOCTYPE html>
<html lang="en">
<head>
<!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">

	<meta charset="UTF-8">
	<title>WebDocX</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboardPat.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<script type="text/javascript" src="/scripts/speechrecog.js"></script>
	<script type="text/javascript" src="/scripts/dashboardPat.js"></script>
</head>
<body>
	<!--Alert messages and notification-->
	<div class="notification card" style="display:none;" id="notification">
    <% if (errorMessage && errorMessage.length > 0) { %>
      <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#f8d7da';document.getElementById('notification').style.backgroundImage='none';</script>
      <span style="color:#721c24;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b><%= errorMessage %></b>
      </span><br>
    <% } %>

    <% if (successMessage && successMessage.length > 0){ %>
      <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#d4edda';document.getElementById('notification').style.backgroundImage='none';</script>
      <span style="color:#155724;">
        <i class="fa fa-check" aria-hidden="true"></i><b><%= successMessage %></b>
      </span><br>
    <% } %>
    <span onclick="document.getElementById('notification').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>
	<div class="topnav">
		<button id="dash" style="background-color:white;color:black; ">Dashboard</button>
		<button id="doc" onclick="docdrop()">Doctors <i class="fa fa-caret-down"></i></button>
		<button type="button" style="width:50px;"><i class="fa fa-bell-o" aria-hidden="true"></i></button>
		<span id="lg" style="clear:both; position:absolute;top:15px;left:40%;">
		<img src="/images/notext.png" alt="Webdocx" width="50px" height="20px">
		<img id="textlogo" src="/images/text.png" alt="Webdocx" width="150px" height="20px">
		</span>
		<button id="logout" style="float:right;">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
		<script type="text/javascript">
			document.getElementById("dash").onclick = function () {
				location.href = "/dashboardPat";
			};
			document.getElementById("logout").onclick = function () {
				location.href = "/logout";
			};
		</script>
		<button type="button" style="float:right;width:50px;" onclick="runSpeechRecognition()"><i id="mic" class="fa fa-microphone"></i></button>
		<form action="#"style="float:right;">
			<input type="text" placeholder="Search.." id="search" name="search">
			<button type="submit" style="width:50px;"><i class="fa fa-search"></i></button>
		</form>
	</div>
	<div id="drop" class="dropdiv">
		<button id="cardiology" >Cardiology</button>
		<button id="nephrology">Nephrology</button>
		<button id="urology">Urology</button>
		<button id="neurology">Neurology</button>
	</div>
	<!--Viewdocs links-->
	<script>
		document.getElementById("cardiology").onclick = function () {
    	location.href = "/view/doctors/page/1/?speciality=cardiology";
		};
		document.getElementById("nephrology").onclick = function () {
    	location.href = "/view/doctors/page/1/?speciality=nephrology";
		};
		document.getElementById("urology").onclick = function () {
    	location.href = "/view/doctors/page/1/?speciality=urology";
		};
		document.getElementById("neurology").onclick = function () {
    	location.href = "/view/doctors/page/1/?speciality=neurology";
		};
	</script>
	<div class="col-container">
		<div class="col" style="position:relative;width:20%">
			<div class="card" align="center" style="top:0px; position:absolute;padding:16px; width:80%">
			<% if (typeof currentAccount.profilePic.data.data !== 'undefined') {
				var image = Buffer.from(currentAccount.profilePic.data.data).toString('base64');
				var type = currentAccount.profilePic.contentType;
			}%>
			<img class="avatar" style="width:150px;height:150px;" src="data:<%= type %>;base64,<%= image %>" />			
			<h3><%= currentAccount.name %></h3>
			<h3><%= currentAccount.username %></h3>
			</div>
		</div>
	
		<div class="col" id="update" style=" width:70%">
			<form class="card" id="post" style=" width:65%; margin-bottom: 10px;border-radius: 10px;padding:20px;" action="/posts/new" method="Post">
				<h1 style="margin-left:30%">Post your Problem</h1>
				<input type="text" placeholder="Enter your Medical Problem" id="problems" name="title" style="width:40%;float:left;" onchange="error()" required>
				<input type="text" placeholder="Speciality" id="speciality" name="speciality" style="width:40%" onchange="error()" required><br>
				<!--take getElementByname(tags) for tag array-->
				<input type="hidden" id="ctag" value=1>
				<input type="text" placeholder="tag1" id="tag1" name="tags" style="float:left;" onchange="error()">
				<input type="text" placeholder="tag2" id="tag2" name="tags" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="tag3" id="tag3" name="tags" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="tag4" id="tag4" name="tags" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="tag5" id="tag5" name="tags" style="display:none; float:left" onchange="error()">
				<button type="button" onclick="tag()" class="addbtn" id="tagadd"><b>+</b></button><br>
				<input type="hidden" id="csym" value=1>
				<input type="text" placeholder="symptom1" id="sym1" name="symptoms" style="float:left" onchange="error()">
				<input type="text" placeholder="symptom2" id="sym2" name="symptoms" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="symptom3" id="sym3" name="symptoms" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="symptom4" id="sym4" name="symptoms" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="symptom5" id="sym5" name="symptoms" style="display:none; float:left" onchange="error()">
				<button type="button" onclick="sym()" class="addbtn" id="symadd"><b>+</b></button>
				<textarea placeholder="Description" id="description" name="description" style="width:90%; clear:both" onchange="error()" required rows="1" required></textarea>
				<input type="hidden" name="patientId" value="<%= currentAccount._id %>">
				<input type="hidden" name="patientName" value="<%= currentAccount.name %>">
				<input type="hidden" name="time" value="<%=new Date()%>">
				<button id="sub" type="button" class="sub">Post</button>
			</form>
			
		</div>
	</div>
<button onclick="topFunction()" id="myBtn" title="Go to top" style="visibility: hidden;"><b>&uarr;</b></button>


</body>
</html>