<!DOCTYPE html>
<html lang="en">
<head>
	<!--favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
  
	  <meta charset="UTF-8">
	  <title>WebDocX</title>
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardDoc.css">
	  <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body>
	<%= JSON.stringify(currentAccount) %>
	<!--Alert messages and notification-->
	<div class="notification card" style="display:none;" id="notification">
		<% if (errorMessage && errorMessage.length > 0) { %>
		  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#f8d7da';document.getElementById('notification').style.backgroundImage='none';</script>
		  <span style="color:#721c24;">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b><%= errorMessage %></b>
		  </span><br>
		<% } %>
	
		<% if (successMessage && successMessage.length > 0){ %>
		  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#d4edda';document.getElementById('notification').style.backgroundImage='none';</script>
		  <span style="color:#155724;">
			<i class="fa fa-check" aria-hidden="true"></i><b><%= successMessage %></b>
		  </span><br>
		<% } %>
		<span onclick="document.getElementById('notification').style.display='none'" class="close" title="Close Modal">&times;</span>
	  </div>
	<div class="topnav">
		<button id="dash" style="background-color:white;color:black;">Dashboard</button>
		<button id="update" >Update</button>
		<button type="button" style="width:50px;"><i class="fa fa-bell-o" aria-hidden="true"></i></button>
		<button id="logout" style="float:right;">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
		<script type="text/javascript">
			document.getElementById("dash").onclick = function () {
				location.href = "/dashboardPat";
			};
			document.getElementById("update").onclick = function () {
				location.href = "/update";
			};
			document.getElementById("logout").onclick = function () {
				location.href = "/logout";
			};
		</script>
		<button type="button" style="float:right;width:50px;" onclick="runSpeechRecognition()"><i id="mic" class="fa fa-microphone"></i></button>
		<form action="#"style="float:right;">
			<input type="text" placeholder="Search.." id="search" name="search">
			<button type="submit" style="width:50px;"><i class="fa fa-search"></i></button>
		</form>
	</div>
	
	<div class="col-container">
		<div class="col" style="position:relative;width:20%">
			<div class="card" align="center" style="top:0px; position:absolute;padding:16px; width:80%">
			<img class="avatar" style="width:150px;height:150px;" src="/images/doctor.png" />			
			<h3>DR. <%= currentAccount.name %> <i class="fa fa-check-circle"  id="verified" style="color:green;"></i><!--make this visible if verified--></h3>
			<h3><%= currentAccount.username %></h3>
			</div>
		</div>
		<div class="col" style=" width:70%">
			<h1>Doctor Dashboard</h1>
			<h3>ALL PATIENTS' POSTS</h3>
			<% for (var i = 0; i < posts.length; i++) { %>
		<div class="card" id="update" style=" width:65%; margin-bottom: 10px;border-radius: 10px;padding:20px;">
			<div>
				<img class="avatar" style="width:50px;height:50px; float:left;" src="/images/patient.png" />
				<h3 style="float:left;">  Anonymous</h3>
			</div>
			<div style="clear:both;">
				<% for (var j = 0; j < posts[i].tags.length; j++) { %>
				<button class="tags" type="button"><%= posts[i].tags[j] %></button>
				<% } %>
			</div>
			<div style="clear:both;">
				<br>
				<b style="float:left;">Symptoms:</b>
				<% for (var j = 0; j < posts[i].symptoms.length-1; j++) { %>
				<span ><%= posts[i].symptoms[j] %>,</span>
				<% } %>
				<span ><%= posts[i].symptoms[j] %></span>
			</div>
			<div style="clear:both;">
			<span><%= posts[i].description %></span>
			</div>
			<%= posts[i] %>
		</div>
		<% } %>
		</div>
	</div>
	

	
</body>
</html>