<!DOCTYPE html>
<html lang="en">
<head>
<!--favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">

	<meta charset="UTF-8">
	<title>WebDocX</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboardPat.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<script type="text/javascript" src="/scripts/speechrecog.js"></script>
	<script type="text/javascript" src="/scripts/dashboardPat.js"></script>
	<script type="text/javascript" src="/scripts/nav.js"></script>
</head>
<body>
	<!--Alert messages and notification-->
	<div class="notification card" style="display:none;" id="notification">
    <% if (errorMessage && errorMessage.length > 0) { %>
      <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#f8d7da';document.getElementById('notification').style.backgroundImage='none';</script>
      <span style="color:#721c24;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b><%= errorMessage %></b>
      </span><br>
    <% } %>

    <% if (successMessage && successMessage.length > 0){ %>
      <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#d4edda';document.getElementById('notification').style.backgroundImage='none';</script>
      <span style="color:#155724;">
        <i class="fa fa-check" aria-hidden="true"></i><b><%= successMessage %></b>
      </span><br>
    <% } %>
    <span onclick="document.getElementById('notification').style.display='none'" class="close" title="Close Modal">&times;</span>
  </div>
	<div class="topnav">
		<button id="dash" style="background-color:white;color:black; ">Dashboard</button>
		<button id="doc" onclick="docdrop()">Doctors <i class="fa fa-caret-down"></i></button>
		<button id="not" onclick="notdrop()"type="button" style="position:relative;width:70px;"><i class="fa fa-bell-o" aria-hidden="true"></i><span id="count" class="counter"></span></button>
		
		<span id="lg" style="clear:both; position:absolute;top:15px;left:40%;">
		<img src="/images/notext.png" alt="Webdocx" width="50px" height="20px">
		<img id="textlogo" src="/images/text.png" alt="Webdocx" width="150px" height="20px">
		</span>
		<button id="logout" style="float:right;">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
		<script type="text/javascript">
			document.getElementById("dash").onclick = function () {
				location.href = "/dashboardPat";
			};
			document.getElementById("logout").onclick = function () {
				location.href = "/logout";
			};
		</script>
		<button type="button" style="float:right;width:50px;" onclick="runSpeechRecognition()"><i id="mic" class="fa fa-microphone"></i></button>
		<span style="float:right;">
			<input onfocus="searchs()" oninput="searchs()" type="text" placeholder="Search.." id="search" name="search" >
			<button onclick="find()" type="button" style="width:50px;"><i class="fa fa-search"></i></button>
		</span>
	</div>


	<!--Search option-->
	<div style="left:65%;width:400px;padding:20px;" id="searchdiv" class="dropdiv">
		<span onclick="document.getElementById('searchdiv').style.display='none'" style="position:absolute;right:10px;top:5px;"><i class="fa fa-times" aria-hidden="true"></i></span>
		<div class="radio-toolbar">
			<input type="radio" id="name" name="sopt" value="name" checked>
			<label for="name">Name</label>
		
			<input type="radio" id="speciality" name="sopt" value="speciality">
			<label for="speciality">Speciality</label>
		
			<input type="radio" id="xxxx" name="sopt" value="xxxx">
			<label for="xxxx">xxxx</label> 

			<input type="radio" id="yy" name="sopt" value="yy">
			<label for="yy">yy</label>

			<input type="radio" id="zzzzzzz" name="sopt" value="zzzzzzz">
			<label for="zzzzzzz">zzzzzzz</label>
			
		</div>

		<div  class="card" style="margin:20px;border-radius: 10px;padding:20px;">
			<b id="sv" style="word-wrap: break-word;"></b>
		</div>
	</div>



	<span id="drop" class="dropdiv" style="overflow:scroll; height:200px;">
		<button onclick="opt('cardiology')" id="cardiology" >Cardiology</button>
		<button onclick="opt('nephrology')" id="nephrology">Nephrology</button>
		<button onclick="opt('urology')" id="urology">Urology</button>
		<button onclick="opt('neurology')" id="neurology">Neurology</button>
		<button onclick="opt('imunnology')" id="immunology">Immunology</button> 
		<button onclick="opt('anesthesiology')" id="anesthesiology">Anesthesiology</button> 
		<button onclick="opt('dermatology')" id="dermatology">Dermatoloy</button> 
		<button onclick="opt('endocrinology')" id="endocrinology">Endocrinology</button> 
		<button onclick="opt('gastroenteroloy')" id="gastroenteroloy">Gastroenteroloy</button> 
		<button onclick="opt('hepatology')" id="hepatology">Hepatology</button> 
		<button onclick="opt('gynecology')" id="gynecology">Gynecology</button> 
		<button onclick="opt('pathology')" id="pathology">Pathology</button> 
		<button onclick="opt('pulmonology')" id="pulmonology">Pulmonology</button> 
		<button onclick="opt('psycology')" id="psychology">Psychology</button> 
		<button onclick="opt('otology')" id="otology">Otology</button>
	</span>
	<!--Viewdocs links-->
	<script>
		function opt(s){
			location.href = "/view/doctors/page/1/?speciality="+s;
		}
	</script>
	<!--user notification-->
	<div style="left:200px;width:400px;" id="unotification" class="dropdiv">
		<b>&nbsp;&nbsp;Notifications</b>
		<% var co=0; for(var i=currentAccount.notifications.length-1;i>=0;i--){ if(!currentAccount.notifications[i].seen){ co++;%>
		<div class="unotification" id="n<%=i%>">
			<%= currentAccount.notifications[i].message%>
			<form id="noti<%=i%>">
			<span id="close" onclick="sub('<%= currentAccount.notifications[i]._id%>','n<%=i%>')" title="Mark Read"><i class="fa fa-minus" aria-hidden="true"></i></span>
			</form>
				<script>
					function sub(n_id,nid){
						var xhttp = new XMLHttpRequest();
						xhttp.onreadystatechange = function() {
						  if (this.readyState == 4 && this.status == 200) {
							document.getElementById(nid).style.display="none";
							var cc=parseInt(document.getElementById('count').innerHTML)-1;
							document.getElementById('count').innerHTML=cc;
						  }
						};
						  xhttp.open("POST", "/dashboardPat/read/"+n_id, true);
						  xhttp.send();
						  }
				</script>
			<% 
					var tdat= new Date().getDate();
					var tday= new Date().getDay();
					var ty= new Date().getFullYear();
					var tm= new Date().getMonth();
					var th= new Date().getHours();
					var tmin= new Date().getMinutes();
					var tsec= new Date().getSeconds();
					var dat= currentAccount.notifications[i].time.getDate();
					var day= currentAccount.notifications[i].time.getDay();
					var y= currentAccount.notifications[i].time.getFullYear();
					var m= currentAccount.notifications[i].time.getMonth();
					var h= currentAccount.notifications[i].time.getHours();
					var min= currentAccount.notifications[i].time.getMinutes();
					var sec= currentAccount.notifications[i].time.getSeconds();
					if(ty!=y)
					{
						ty=ty+0;
						y=y+0;
						var p= ty-y;
						p=p.toString();
						p=p+"y";
					}
					else if(tm!=m)
					{
						tm=tm+0;
						m=m+0;
						var p= tm-m;
						p=p.toString();
						p=p+"m";
					}
					else if(tdat!=dat)
					{
						tdat=tdat+0;
						dat=dat+0;
						var p= tdat-dat;
						p=p.toString();
						p=p+"d";
					}
					else if(th!=h)
					{
						th=th+0;
						h=h+0;
						var p= th-h;
						p=p.toString();
						p=p+"h";
					}
					else if(tmin!=min)
					{
						tmin=tmin+0;
						min=min+0;
						var p= tmin-min;
						p=p.toString();
						p=p+"min";
					}
					else if(tsec!=sec)
					{
						tsec=tsec+0;
						sec=sec+0;
						var p= tsec-sec;
						p=p.toString();
						p=p+"sec";
					}
					%>
					<br>
				<span style="float:left;color:grey"><%= p %> ago</span>
		</div>
		<% }%><script>document.getElementById('count').innerHTML="<%=co%>"</script><% } %>
	</div>
	<div class="col-container">
		<div class="col" style="position:relative;width:20%;">
			<div class="card" align="center" style="top:0px; position:absolute;padding:16px; width:80%">
			<% if (typeof currentAccount.profilePic.data.data !== 'undefined') {
				var image = Buffer.from(currentAccount.profilePic.data.data).toString('base64');
				var type = currentAccount.profilePic.contentType;
			}%>
			<img id="upprof" class="avatar" style="width:150px;height:150px;" src="data:<%= type %>;base64,<%= image %>" />	
			<button id="op" class="roundbtn" onclick="dpopen()" style="position: absolute;top:40%;right:20px;"><i class="fa fa-pencil"></i></button>		
			<button id="cl" class="roundbtn" onclick="dpclose('data:<%= type %>;base64,<%= image %>')" style=" position:absolute;top:40%;right:20px;display:none;z-index: 2;"><i class="fa fa-times"></i></button>
				<form id="dp" action="/update/patient/profilePic" method="post" style="display:none;" enctype="multipart/form-data">
					<label  style=" position:absolute; top:44%;right:-20px;"><i id="pic" class="fa fa-file-image-o fa-2x"></i><input onchange="chk(event)"  type="file" id="profilepic" style="display:none;" name="profilepic" accept="image/*" required></label>
					<button class="roundbtn" type="submit" style=" position:absolute; top:40%;right:-80px;"><i class="fa fa-chevron-right" ></i></button>
				</form>
			<h3><%= currentAccount.name %></h3>
			<h3><%= currentAccount.username %></h3>
			</div>
			<br><br><br><br><br><br><br><br><br><br><br><br>
				<div align="center">
					<a  href="/posts" style="color:black;"><b>My Posts</b></a><br><br>
				</div>
		</div>
		<div class="col" id="update" style=" width:50%;" >
			<form class="card" id="post" style=" width:93%; margin-bottom: 10px;border-radius: 10px;padding:20px;" action="/posts/new" method="Post">
				<h1 style="margin-left:30%">Post your Problem</h1>
				<input type="text" placeholder="Enter your Medical Problem" id="problems" name="title" style="width:40%;float:left;" onchange="error()" required>
				<select id="speciality" name="speciality" style="width:40%">
					<option value="general">General</option>
					<option value="cardiology">Cardiology</option>
					<option value="nephrology">Nephrology</option>
					<option value="neurology">Neurology</option>
					<option value="urology">Urology</option>
					<option value="immunology">Immunology</option> 
					<option value="anesthesiology">Anesthesiology</option> 
					<option value="dermatoloy">Dermatoloy</option> 
					<option value="endocrinology">Endocrinology</option> 
					<option value="gastroenteroloy">Gastroenteroloy</option> 
					<option value="hepatology">Hepatology</option> 
					<option value="gynecology">Gynecology</option> 
					<option value="pathology">Pathology</option> 
					<option value="pulmonology">Pulmonology</option> 
					<option value="psychology">Psychology</option> 
					<option value="otology">Otology</option> 

				  </select><br>
				<!--take getElementByname(tags) for tag array-->
				<input type="hidden" id="ctag" value=1>
				<input type="text" placeholder="tag1" id="tag1" name="tags" style="float:left;" onchange="error()">
				<input type="text" placeholder="tag2" id="tag2" name="tags" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="tag3" id="tag3" name="tags" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="tag4" id="tag4" name="tags" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="tag5" id="tag5" name="tags" style="display:none; float:left" onchange="error()">
				<button type="button" onclick="tag()" class="addbtn" id="tagadd"><b>+</b></button><br>
				<input type="hidden" id="csym" value=1>
				<input type="text" placeholder="symptom1" id="sym1" name="symptoms" style="float:left" onchange="error()">
				<input type="text" placeholder="symptom2" id="sym2" name="symptoms" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="symptom3" id="sym3" name="symptoms" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="symptom4" id="sym4" name="symptoms" style="display:none; float:left" onchange="error()">
				<input type="text" placeholder="symptom5" id="sym5" name="symptoms" style="display:none; float:left" onchange="error()">
				<button type="button" onclick="sym()" class="addbtn" id="symadd"><b>+</b></button>
				<textarea placeholder="Description" id="description" name="description" style="width:90%; clear:both" onchange="error()" required rows="1" required></textarea>
				<input type="hidden" name="patientId" value="<%= currentAccount._id %>">
				<input type="hidden" name="patientName" value="<%= currentAccount.name %>">
				<input type="hidden" name="time" value="<%=new Date()%>">
				<button id="sub" type="button" class="sub">Post</button>
			</form>
		</div>
		<div class="col" id="pres" style=" width:20%;">
			<h1>Prescriptions</h1>
				<% 	if (prescriptions.length > 0) {
					prescriptions.forEach(prescription => {
						var pdf = prescription.pdf.data.toString('base64');
						var type = prescription.pdf.contentType;
						if (typeof prescription.pdf.data !== 'undefined') { %>
							<div class="card" style="margin-bottom: 10px;border-radius: 10px;padding:20px;">
							<b>Dr.<%=prescription.doctor.name%></b>
							<a href="data:<%= type %>;base64,<%= pdf %>" style="float:right;" download><i class="fa fa-arrow-down" aria-hidden="true"></i> </a><br>
							<span style="color:grey;"><%=prescription.issuingDate.toDateString();%></span>
							</div>
							<br>
						<% }
					});
				} %>
				<% if(prescriptions.length==0){%>
					<div class="card" style="margin-bottom: 10px;border-radius: 10px;padding:20px;">
						<b>No Prescriptions to Show</b>
					</div>
				<%}%>
		</div>
	</div>
<button onclick="topFunction()" id="myBtn" title="Go to top" style="visibility: hidden;"><b>&uarr;</b></button>


</body>
</html>