<!DOCTYPE html>
<html lang="en">
<head>
<!--favicon-->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">

	<meta charset="UTF-8">
	<title>WebDocX</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/viewdocs.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
	<script type="text/javascript" src="/scripts/viewdocs.js"></script>
	<script type="text/javascript" src="/scripts/speechrecog.js"></script>
	<script type="text/javascript" src="/scripts/nav.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="loaded()">
	<!--Alert messages and notification-->
	<div class="notification card" style="display:none;" id="notification">
		<% if (errorMessage && errorMessage.length > 0) { %>
		  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#f8d7da';document.getElementById('notification').style.backgroundImage='none';</script>
		  <span style="color:#721c24;">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i><b><%= errorMessage %></b>
		  </span><br>
		<% } %>
	
		<% if (successMessage && successMessage.length > 0){ %>
		  <script>document.getElementById('notification').style.display='block';document.getElementById('notification').style.backgroundColor='#d4edda';document.getElementById('notification').style.backgroundImage='none';</script>
		  <span style="color:#155724;">
			<i class="fa fa-check" aria-hidden="true"></i><b><%= successMessage %></b>
		  </span><br>
		<% } %>
		<span onclick="document.getElementById('notification').style.display='none'" class="close" title="Close Modal">&times;</span>
	  </div>

	<div class="topnav">
		<button id="dash" ><i class="fa fa-home" aria-hidden="true"></i></button>
		<button id="doc" onclick="docdrop()" style="background-color:white;color:black;"><i class="fa fa-user-md" aria-hidden="true"></i><i class="fa fa-caret-down"></i></button>
		<button id="not" onclick="notdrop()" type="button" style="position:relative;width:70px;"><i class="fa fa-bell-o" aria-hidden="true"></i><span id="count" class="counter"><%= currentAccount.notifications.length%></span></button>
		<span id="lg" style="clear:both; position:absolute;top:15px;left:40%;">
			<img src="/images/notext.png" alt="Webdocx" width="50px" height="20px">
			<img id="textlogo" src="/images/text.png" alt="Webdocx" width="150px" height="20px">
			</span>
		<button id="logout" style="float:right;"><i class="fa fa-power-off" aria-hidden="true"></i></button>
		<script type="text/javascript">
			document.getElementById("dash").onclick = function () {
				location.href = "/dashboardPat";
			};
			document.getElementById("logout").onclick = function () {
				location.href = "/logout";
			};
		</script>
		<button type="button" style="float:right;width:50px;" onclick="runSpeechRecognition()"><i id="mic" class="fa fa-microphone"></i></button>
		<span style="float:right;">
			<input onfocus="searchs()" oninput="searchs()" type="text" placeholder="Search.." id="search" name="search" >
			<button onclick="find()" type="button" style="width:50px;"><i class="fa fa-search"></i></button>
		</span>
		
	</div>
	<!--Search option-->
	<div style="left:65%;width:400px;padding:20px;" id="searchdiv" class="dropdiv">
		<span onclick="document.getElementById('searchdiv').style.display='none'" style="position:absolute;right:10px;top:5px;"><i class="fa fa-times" aria-hidden="true"></i></span>
		<div class="radio-toolbar">
			<input type="radio" id="name" name="sopt" value="name" checked>
			<label for="name">NAME</label>
		
			<input type="radio" id="speciality" name="sopt" value="speciality">
			<label for="speciality">SPECIALITY</label>
		
			<input type="radio" id="mail" name="sopt" value="mail">
			<label for="mail">MAIL</label> 

			<input type="radio" id="qualifications" name="sopt" value="qualifications">
			<label for="qualifications">QUALIFICATIONS</label>

			<input type="radio" id="tags" name="sopt" value="tags">
			<label for="tags">TAG</label>
			
		</div>

		<div  class="card" style="margin:20px;border-radius: 10px;padding:20px;">
			<b id="sv" style="word-wrap: break-word;"></b>
		</div>
	</div>


	<!--filter option-->
	<button id="sl" class="slider" onclick="slide()" style="right:0%;top:60px;width:40px;display:hidden;color:white;position:fixed;"><i id="arr" class="fa fa-chevron-left" aria-hidden="true"></i></button>
	<div id="option" class="slider" style="right:0%;top:60px;height:100px;width:50px;display:none;border-top-left-radius: 0px;" >
		<button onclick="document.getElementById('filter').style.display='block'" style="background-color:black;border-width:0px;font-size:large;border-radius:10px;color:white;width:100%;border-top-left-radius: 0px;"><i class="fa fa-filter" aria-hidden="true"></i></button>
	</div>
	<div id="filter" class="slider" style="right:0%;top:60px;width:150px;display:none;" >
		<div style="padding:20px;">
			<b>Experience</b><br><br>
			Min:&nbsp;<input type="number" value="1" id="mine" style="width:60%;padding: 5px 15px;margin: 0px 0px 0px 0px;border: none;background: #f1f1f1;"><br><br>
			Max:<input type="number" value="40" id="maxe" style="width:60%;padding: 5px 15px;margin: 0px 0px 0px 0px;border: none;background: #f1f1f1;"><br><br>
			<button class="card" onclick="filter('<%=docs.length%>')" style="border-width: 0px;width:100%;border-radius:10px;"><b>Filter</b></button>
			<button class="card" onclick="document.getElementById('filter').style.display='none';" style="background-color:red;border-width: 0px;width:100%;border-radius:10px;"><b>Close</b></button>
			<br><br>
			<input style="display:none;float:left;" onclick="removefilter()" type="checkbox" id="echk">
			<label id="expchk"></label><br>
		</div>
		
	</div>
	<!--speciality option-->
	<span id="drop" class="dropdiv" style="overflow:scroll; height:200px;">
		<button onclick="opt('cardiology')" id="cardiology" >Cardiology</button>
		<button onclick="opt('nephrology')" id="nephrology">Nephrology</button>
		<button onclick="opt('urology')" id="urology">Urology</button>
		<button onclick="opt('neurology')" id="neurology">Neurology</button>
		<button onclick="opt('imunnology')" id="immunology">Immunology</button> 
		<button onclick="opt('anesthesiology')" id="anesthesiology">Anesthesiology</button> 
		<button onclick="opt('dermatology')" id="dermatology">Dermatoloy</button> 
		<button onclick="opt('endocrinology')" id="endocrinology">Endocrinology</button> 
		<button onclick="opt('gastroenteroloy')" id="gastroenteroloy">Gastroenteroloy</button> 
		<button onclick="opt('hepatology')" id="hepatology">Hepatology</button> 
		<button onclick="opt('gynecology')" id="gynecology">Gynecology</button> 
		<button onclick="opt('pathology')" id="pathology">Pathology</button> 
		<button onclick="opt('pulmonology')" id="pulmonology">Pulmonology</button> 
		<button onclick="opt('psycology')" id="psychology">Psychology</button> 
		<button onclick="opt('otology')" id="otology">Otology</button>
	</span>
	<!--Viewdocs links-->
	<script>
		function opt(s){
			location.href = "/view/doctors/page/1/?speciality="+s;
		}
	</script>
<!--user notification-->
<div style="left:160px;width:400px; padding:10px;overflow:scroll; max-height:400px;" id="unotification" class="dropdiv">
	<b style="margin:20px;">Notifications</b>
	<% var co=0; for(var i=currentAccount.notifications.length-1;i>=0;i--){if(!currentAccount.notifications[i].seen){ co++;%>
		<div onclick="sub('<%= currentAccount.notifications[i]._id%>','<%=i%>')" class="unotification" id="n<%=i%>">
			<b id="urm<%=i%>"><%= currentAccount.notifications[i].message%></b>
			<span id="rm<%=i%>" style="display:none;"><%= currentAccount.notifications[i].message%></span>
			<%} else{%>
				<div class="unotification" id="n<%=i%>">
				<%= currentAccount.notifications[i].message%>
			<%}%>
		
		<% 
				var tdat= new Date().getDate();
				var tday= new Date().getDay();
				var ty= new Date().getFullYear();
				var tm= new Date().getMonth();
				var th= new Date().getHours();
				var tmin= new Date().getMinutes();
				var tsec= new Date().getSeconds();
				var dat= currentAccount.notifications[i].time.getDate();
				var day= currentAccount.notifications[i].time.getDay();
				var y= currentAccount.notifications[i].time.getFullYear();
				var m= currentAccount.notifications[i].time.getMonth();
				var h= currentAccount.notifications[i].time.getHours();
				var min= currentAccount.notifications[i].time.getMinutes();
				var sec= currentAccount.notifications[i].time.getSeconds();
				if(ty!=y)
				{
					ty=ty+0;
					y=y+0;
					var p= ty-y;
					p=p.toString();
					p=p+"y";
				}
				else if(tm!=m)
				{
					tm=tm+0;
					m=m+0;
					var p= tm-m;
					p=p.toString();
					p=p+"month";
				}
				else if(tdat!=dat)
				{
					tdat=tdat+0;
					dat=dat+0;
					var p= tdat-dat;
					p=p.toString();
					p=p+"d";
				}
				else if(th!=h)
				{
					th=th+0;
					h=h+0;
					var p= th-h;
					p=p.toString();
					p=p+"h";
				}
				else if(tmin!=min)
				{
					tmin=tmin+0;
					min=min+0;
					var p= tmin-min;
					p=p.toString();
					p=p+"min";
				}
				else if(tsec!=sec)
				{
					tsec=tsec+0;
					sec=sec+0;
					var p= tsec-sec;
					p=p.toString();
					p=p+"sec";
				}
				%>
				<br>
			<span style="float:left;color:grey"><%= p %> ago</span>
	</div>
	<script>
		function sub(n_id,nid){
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
			  if (this.readyState == 4 && this.status == 200) {
						var cc=parseInt(document.getElementById('count').innerHTML)-1;
						document.getElementById('count').innerHTML=cc;
						document.getElementById('noti'+nid).style.display='none';
						document.getElementById('urm'+nid).style.display='none';
						document.getElementById('rm'+nid).style.display='block';
			  }
			};
			  xhttp.open("POST", "/dashboardPat/read/"+n_id, true);
			  xhttp.send();
			  }
	</script>
	<script>document.getElementById('count').innerHTML="<%=co%>"</script><% } %>
</div>
	<div class="row">
		<% for (var i = 0; i < docs.length; i++) { %>
		<div id="<%=i%>" class="column">
			<% var image = docs[i].profilePic.data.toString('base64'); %>
			<% var type = docs[i].profilePic.contentType; %>
			<div class="col-container card">
				<img class="avatar" style="width:100px;height:100px;position:absolute;" src="data:<%= type %>;base64,<%= image %>" />
				<div align="center">
					<h2 align="center" style="margin:5px;">Dr. <%= docs[i].name %></h2>
					<h4 style="margin:2px;">(<%= docs[i].qualification %>)</h4>
					<button class="buttongreen borderless" value="<%= docs[i].experience %>"><%= docs[i].experience %> Years Exp</button>
					<h4 class="title">Speciality: <%= docs[i].speciality %></h4>
					<a href="#" class="fa fa-facebook"></a>
					<a href="#" class="fa fa-twitter"></a>
					<a href="#" class="fa fa-google"></a>
					<a href="#" class="fa fa-linkedin"></a>
					<a href="#" class="fa fa-youtube"></a>
					<a href="#" class="fa fa-instagram"></a>
					<p><button class="button" onclick="openForm('<%= docs[i].name %>','<%= docs[i]._id %>')">Consult Now</button></p>
				</div>
			</div>
		</div>
	<%}%>
	</div>
	<% if(docs.length==0){ %>
		<div class="card" style="text-align:center;margin:20px;border-radius: 10px;padding:20px;">
			<h1>No User Data Available!</h1> 
		</div>
	<%}%>

	<!--Consult Form-->
<div class="form-popup" id="consult">
  <form action="/consult/request/new/" class="form-container" id="consultform" name="consultform" method="post">

	<div class="imgcontainer">
        <span onclick="document.getElementById('consult').style.display='none'" class="close" title="Close Modal">&times;</span>
        <h1 align="center">Consultation Form</h1>
		<h2 id="name" align="center"></h2>
	</div>
	<label for="psw"><b>Problems</b></label>
    <input type="text" placeholder="Problems" id=" problems" name="problem" style="width:97%" required><!--get problem by name problem-->

	<label for="psw" style="clear:both"><b>Tags</b></label><br><!--take getElementByname(tags) for tag array-->
	<input type="hidden" id="ctag" value=1>
	<input type="text" placeholder="tag1" id="tag1" name="tags" required style="float:left;">
	<input type="text" placeholder="tag2" id="tag2" name="tags" style="display:none; float:left">
	<input type="text" placeholder="tag3" id="tag3" name="tags" style="display:none; float:left">
	<input type="text" placeholder="tag4" id="tag4" name="tags" style="display:none; float:left">
	<input type="text" placeholder="tag5" id="tag5" name="tags" style="display:none; float:left">
	<button type="button" onclick="tag()" class="addbtn" id="tagadd"><b>+</b></button>

	<br><label for="psw" style="clear:both"><b>Symptoms</b></label><br><!--take getElementByname(syms) for symptoms array-->
	<input type="hidden" id="csym" value=1>
	<input type="text" placeholder="symptom1" id="sym1" name="syms" required style="float:left">
	<input type="text" placeholder="symptom2" id="sym2" name="syms" style="display:none; float:left">
	<input type="text" placeholder="symptom3" id="sym3" name="syms" style="display:none; float:left">
	<input type="text" placeholder="symptom4" id="sym4" name="syms" style="display:none; float:left">
	<input type="text" placeholder="symptom5" id="sym5" name="syms" style="display:none; float:left">
	<button type="button" onclick="sym()" class="addbtn" id="symadd"><b>+</b></button>
	
	<br><label for="psw"style="clear:both"><b>Description</b></label><br>
	<textarea placeholder="Description" id="description" name="description" style="width:97%; clear:both" required rows="4">
	</textarea><br><br><!--get description by name description-->

    <button type="submit" class="btn">Submit</button>
  </form>
</div>
<div align="center">
	<%if(pageCount>1){ for(var i=1;i<=pageCount;i++){ %>
	<button id="p<%=i%>" onclick="pagination('<%=i%>')" class="addbtn" type="button" style="background-color: black;color:white;"><%=i%></button>
	<% } } %>
</div>


<button onclick="topFunction()" id="myBtn" title="Go to top" style="visibility: hidden;"><b>&uarr;</b></button>
</body>
</html>